addict==2.4.0
affine==2.4.0
aliyun-python-sdk-core==2.16.0
aliyun-python-sdk-kms==2.16.5
attrs==25.4.0
brotlicffi @ file:///C:/b/abs_f4lixvzmxt/croot/brotlicffi_1736183286104/work
certifi @ file:///C:/b/abs_2bz30lzohz/croot/certifi_1754570654565/work/certifi
cffi @ file:///C:/b/abs_29_b57if3f/croot/cffi_1736184144340/work
charset-normalizer @ file:///croot/charset-normalizer_1721748349566/work
click==8.1.8
click-plugins==1.1.1.2
cligj==0.7.2
colorama==0.4.6
contourpy==1.3.0
crcmod==1.7
cryptography==45.0.6
cycler==0.12.1
einops==0.8.1
filelock==3.14.0
fonttools==4.59.0
fsspec==2025.7.0
ftfy @ file:///C:/b/abs_9f951wjt9p/croot/ftfy_1747653269056/work
GDAL @ file:///C:/Users/202391/Downloads/GDAL-3.9.2-cp39-cp39-win_amd64.whl#sha256=6dc7392e17d03d4833d1df7d3c8cc9e847a97997fe5483ff89556fa38d3bb001
huggingface-hub==0.34.4
idna @ file:///C:/b/abs_aad84bnnw5/croot/idna_1714398896795/work
importlib_metadata==8.7.0
importlib_resources==6.5.2
jmespath==0.10.0
kiwisolver==1.4.7
Markdown==3.8.2
markdown-it-py==3.0.0
mat4py==0.6.0
matplotlib==3.9.4
mdurl==0.1.2
mkl-service==2.4.0
mkl_fft @ file:///C:/Users/dev-admin/mkl/mkl_fft_1730823082242/work
mkl_random @ file:///C:/Users/dev-admin/mkl/mkl_random_1730822522280/work
mmcv==2.2.0
mmengine==0.10.7
model-index==0.1.11
modelindex==0.0.2
numpy @ file:///C:/b/abs_c1ywpu18ar/croot/numpy_and_numpy_base_1708638681471/work/dist/numpy-1.26.4-cp39-cp39-win_amd64.whl#sha256=f284633067fde4bb078a09085a1c9e99a3218c129f5312b7b3d76c9340442a25
opencv-python==4.12.0.88
opendatalab==0.0.10
openmim==0.3.9
openxlab==0.1.2
ordered-set==4.1.0
oss2==2.17.0
packaging==24.2
pandas==2.3.1
pillow @ file:///C:/b/abs_b50vowcrzo/croot/pillow_1738010273782/work
platformdirs==4.3.8
prettytable==3.16.0
pycparser @ file:///tmp/build/80754af9/pycparser_1636541352034/work
pycryptodome==3.23.0
Pygments==2.19.2
pyparsing==3.2.3
PySocks @ file:///C:/ci/pysocks_1605307512533/work
python-dateutil==2.9.0.post0
pytz==2023.4
pywin32==311
PyYAML==6.0.2
rasterio==1.4.3
regex==2025.7.34
requests==2.28.2
rich==13.4.2
safetensors==0.6.2
scipy==1.13.1
six==1.17.0
tabulate==0.9.0
termcolor==3.1.0
timm==1.0.19
tomli==2.2.1
torch==1.12.1
torchaudio==0.12.1
torchvision==0.13.1
tqdm==4.65.2
typing_extensions @ file:///C:/b/abs_0ffjxtihug/croot/typing_extensions_1734714875646/work
tzdata==2025.2
urllib3==1.26.20
wcwidth @ file:///C:/b/abs_0c8p4c33bp/croot/wcwidth_1750352902378/work
win-inet-pton @ file:///C:/ci/win_inet_pton_1605306162074/work
yapf==0.43.0
zipp==3.23.0
